/* reset styles */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: inherit;
    background-color: transparent;
    cursor: default;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

textarea {
    resize: none;
}

/* general styles */

#container {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: clamp(185px, 14vw, 240px) repeat(1, 1fr);
    width: 100vw;
    min-height: 100vh;
}

.hidden, .todo-item:not(.expanded) .uncover {
    display: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 15px;
}

.spaced {
    justify-content: space-between;
}

.evenly {
    justify-content: space-evenly;
}

.close {
    position: absolute;
    top: -4px;
    right: -2px;
}

.close:hover {
    color: red;
}

.option {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
    align-items: center;
    gap: 4px;
}

button {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    border-style: none;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
}

button:hover:not(.close) {
    background-color: rgba(0, 0, 0, .35);
}

h1, h2, h3, h4, h5, p {
    line-height: 1.15;
}

h1 {
    font-family: 'Young Serif';
    font-size: 4.8rem;
    font-weight: bold;
}

h2 {
    font-family: 'Jost';
    font-size: 3.6rem;
    font-weight: bold;
}

h3 {
    font-family: 'Jost';
    font-size: 2.6rem;
    font-weight: normal;
}

h4 {
    font-family: 'Jost';
    font-size: 2.3rem;
    font-weight: lighter;
    font-style: italic;
}

h5 {
    font-family: 'Jost';
    font-size: 2rem;
    font-weight: normal;
}

h6 {
    font-family: 'Jost';
    font-size: 1.8rem;
    font-weight: normal;
}

p, input, textarea {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    font-weight: lighter;
}

form :not(.label) {
    margin-bottom: 8px;
}

input::placeholder, textarea::placeholder {
    color: darkgrey;
    font-style: italic;
    opacity: 1;
}

input[type="checkbox"] {
    accent-color: green;
    width: 2.8rem;
    height: 2.8rem;
}

legend {
    font-family: 'Young Serif';
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 12px;
}

hr {
    background-color: black;
    height: 2px;
    width: 94%;
    margin: 15px auto;
}

/* icons */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 4px;
}

.icon.add-project {
    background-image: url('./img/plus-circle.svg');
}

.icon.edit-project {
    background-image: url('./img/text-box-edit-outline.svg');
}

.icon.delete-project {
    background-image: url('./img/delete-forever.svg');
}

.icon.new-todo {
    background-image: url('./img/plus-box-outline.svg');
}

.icon.edit-todo {
    background-image: url('./img/square-edit-outline.svg');
}

.icon.copy-todo {
    background-image: url('./img/content-copy.svg');
}

.icon.delete-todo {
    background-image: url('./img/trash-can.svg');
}

.icon.sort {
    background-image: url('./img/sort-variant.svg');
}

.icon.sort-alpha {
    background-image: url('/img/sort-alphabetical-ascending.svg');
}

:has(:checked) > .icon.sort-alpha {
    background-image: url('/img/sort-alphabetical-descending.svg');
}

.icon.sort-date {
    background-image: url('/img/sort-calendar-ascending.svg');
}

:has(:checked) > .icon.sort-date {
    background-image: url('/img/sort-calendar-descending.svg');
}

.icon.sort-priority {
    background-image: url('/img/priority-high.svg');
}

:has(:checked) > .icon.sort-priority {
    background-image: url('/img/priority-low.svg');
}

.icon.sort-completed {
    background-image: url('/img/sort-bool-ascending-variant.svg');
}

:has(:checked) > .icon.sort-completed {
    background-image: url('/img/sort-bool-descending-variant.svg');
}

.icon.search {
    background-image: url('./img/magnify.svg');
}

.icon.daily {
    background-image: url('./img/notebook.svg');
}

.icon.weekly {
    background-image: url('./img/calendar_view_week.svg');
}

.icon.monthly {
    background-image: url('./img/calendar-month-outline.svg');
}

.icon.past {
    background-image: url('./img/archive.svg');
}

.icon.all {
    background-image: url('./img/all_inclusive.svg');
}

/* toolbar */

#header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: rgb(166, 231, 243);
    z-index: 10;
}

#toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#searchbar {
    width: 250px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(252, 252, 252);
    padding: 0 4px;
}

#sort-menu {
    position: absolute;
    top: 90px;
    left: calc(50vw - 100px);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr) auto;
    background-color: snow;
    border: 1px solid black;
    gap: 4px;
    padding-right: 15px;
}

/* sidebar */

#sidebar {
    white-space: nowrap;
    overflow: hidden;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(234, 255, 199);
    padding: 4px;
}

#sidebar > div {
    margin: 12px 0;
}

.project-label {
    text-align: left;
    text-indent: 6px;
}

/* content */

#content {
    text-wrap: wrap;
    overflow-x: hidden;
    padding: 12px;
}

.project-tag {
    color: rgb(7, 63, 73);
    background-color: rgb(212, 240, 228);
    border-radius: 20px;
    padding: 6px 8px;
    margin: 6px;
}

.project-tag::before {
    content: '#';
}

#todo-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
    padding: 15px;
}

#todo-container.grid {
    grid-template-columns: (auto-fit, minmax(300px, 1fr));
}

.todo-item {
    border: 2px solid rgb(5, 5, 85);
    border-radius: 8px;
    padding: 4px;
}

.todo-item:has(:checked) {
    color: darkgrey;
}

.todo-item:has(:checked) > .title {
    text-decoration: line-through;
}

.todo-desc {
    margin: 12px 3%;
}

/* popup */

#popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: rgba(0, 0, 0, .35);
    z-index: 9999;
}

body:has(#popup) {
    overflow: hidden;
}

.dialog {
    background: white;
    max-width: 350px;
    padding: 15px;
    border-radius: 12px;
}

.tag {
    width: 100px;
}

.popup-btns {
    justify-content: space-around;
}

.popup-btns button {
    border-radius: 20px;
    padding: 6px 8px;
}

.submit-btn {
    color: white;
    background-color: rgb(9, 9, 162);
}

.cancel-btn {
    color: white;
    background-color: rgb(123, 21, 21);
}


@media (max-width: 480px) {

}

@media (max-width: 600px) {

}