/* reset styles */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: inherit;
    background-color: transparent;
    cursor: default;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea {
    resize: none;
}

/* general styles */

#container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: auto 1fr;
    width: 100vw;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 4px;
}

button {
    border-style: none;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, .35);
}

h1, h2, h3, h4, h5, p {
    line-height: 1.15;
}

h1 {
    font-family: 'Young Serif';
    font-size: 4.8rem;
    font-weight: bold;
}

h2 {
    font-family: 'Jost';
    font-size: 3.6rem;
    font-weight: bold;
}

h3 {
    font-family: 'Jost';
    font-size: 2.6rem;
    font-weight: normal;
}

h4 {
    font-family: 'Jost';
    font-size: 2.3rem;
    font-weight: lighter;
    font-style: italic;
}

h5 {
    font-family: 'Jost';
    font-size: 2rem;
    font-weight: normal;
}

p, input {
    font-family: 'Open Sans';
    font-size: 1.8rem;
    font-weight: lighter;
}

textarea {
    font-family: 'Open Sans';
    font-size: 1.6rem;
    font-weight: lighter;
}

hr {
    background-color: black;
    height: 2px;
    width: 90%;
    margin: 15px auto;
}

/* icons */

.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0 4px;
}

.icon.new-project {
    background-image: url('./res/img/plus-box-outline.svg');
}

.icon.edit-project {
    background-image: url('./res/img/text-box-edit-outline.svg');
}

.icon.copy {
    background-image: url('./res/img/content-copy.svg');
}

.icon.sort {
    background-image: url('./res/img/sort-variant.svg');
}

.icon.search {
    background-image: url('./res/img/magnify.svg');
}

.icon.daily-view {
    background-image: url('./res/img/notebook.svg');
}

.icon.weekly-view {
    background-image: url('./res/img/calendar_view_week.svg');
}

.icon.monthly-view {
    background-image: url('./res/img/calendar-month-outline.svg');
}

.icon.past-view {
    background-image: url('./res/img/archive.svg');
}

.icon.all-view {
    background-image: url('./res/img/all_inclusive.svg');
}

/* toolbar */

#header {
    display: flex;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: rgb(166, 231, 243);
}

#toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.searchbar {
    width: 250px;
    height: 30px;
    border-radius: 12px;
    background-color: rgb(252, 252, 252);
    padding: 0 4px;
}

.submenu {
    position: absolute;
    width: 200px;
}

/* sidebar */

#sidebar {
    white-space: nowrap;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(234, 255, 199);
    padding: 4px;
}

#sidebar > div {
    margin: 12px 0;
}

.project-label {
    text-align: left;
    text-indent: 12px;
}

.option {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: left;
}

/* content */

#content {
    text-wrap: wrap;
    padding: 8px;
}

.todo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 15px;
}

.todo-item {
    border: 2px solid blue;
    border-radius: 8px;
}

/* popup */

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: rgba(0, 0, 0, .35);
    z-index: 9999;
}

body:has(.overlay) {
    overflow: hidden;
}

.dialog {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
}